.item {
    display: table;
    width: 250px;
    padding:5px;
}

.item img {
    display: block;
    width: auto;
    height: 240px;
    margin: auto;
    padding: 20px;
    border: rgba(150, 150, 150, 0.4) 1px solid;
    border-radius: 10px;
}

.item p {
    margin: 6px 0px;
}


.item-price {
    color: #374151;
    font-weight: 600;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.item-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}


@media(max-width: 1280px) {
    .item {
        width: 240px;
        font-size: 14px;
    }

    .item img {
        height: 240px;
    }

    .item-header {
        font-size: 18px;
    }
}


@media(max-width: 1024px) {
    .item {
        width: 200px;
        font-size: 13px;
    }

    .item img {
        height: 200px
    }

    .item-header {
        font-size: 18px;
    }
}


@media(max-width: 800px) {
    .item {
        width: 180px;
        font-size: 12px;
    }

    .item img {
        height: 180px;
    }

    .item-header {
        font-size: 16px;
    }
}


@media(max-width: 500px) {
    .item {
        width: 180px;
    }

    .item img {
        height: 180px;
    }
}