.checkout {
    margin: 100px 170px;
}




/*#region - EMPTY CART*/
    .empty-cart {
        text-align: center;
        margin: 2rem 0;
        padding: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        color: #555;
    }

    .empty-cart h2 {
        font-size: 1.8rem;
        color: #333;
    }

    .empty-cart p {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
/*#endregion*/




.checkout hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.checkout-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}


.checkout-format {
    font-size: 17px;
    font-weight: 500;
}

.checkout-product-icon {
    height: 62px;
}

.caritems-remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.checkout-quantity {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fffbf7;
}


.checkout-down {
    display: flex;
    margin: 100px 0px;
}


/* #region - CHECKOUT TOTAL */
    .checkout-total {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 40px;
        max-width: 600px;
    }

    /* #region - CHECKOUT TOTAL ITEM */
        .checkout-total-item {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .checkout-total-item > div:last-child { /* Last child of the checkout-total-item div */
            margin-bottom: 0;
        }

        .checkout-total-item > div:first-child + hr { /* First child of the checkout-total-item div */
            margin-top: 0;
            margin-bottom: 16px;
        }

        .checkout-total-item h3 {
            margin: 8px 0;
        }

        .checkout-total-item:last-child {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 8px;
        }
    /* #endregion - CHECKOUT TOTAL ITEM */

    .checkout-total-fees {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
    }

    .checkout-total button {
        width: 262px;
        height: 58px;
        outline: none;
        border: none;
        background: #ff5a5a;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
/* #endregion - CHECKOUT TOTAL */


/* #region - CHECKOUT PROMO */
    .checkout-promocode {
        flex: 1;
        font-size: 16px;
        font-weight: 500;
    }

    .checkout-promocode p {
        color: #555;
    }

    .checkout-promobox {
        width: 504px;
        margin-top: 15px;
        padding-left: 20px;
        height: 58px;
        background: #eaeaea;
    }

    .checkout-promobox input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        width: 330px;
        height: 50px;
    }

    .checkout-promobox button {
        width: 170px;
        height: 58px;
        font-size: 16px;
        background: black;
        color: white;
        cursor: pointer;
    }
/* #endregion - CHECKOUT PROMO */


.guest-info-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.error-message {
    color: #ff5a5a;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 20px;
}


.paynow {
    display: none;
}
.paynow-visible {
    display: block;

}

.paynow-button.open {
    background: #e04c4c;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(2px); /* Slight downward shift */
}


@media(max-width: 1280px) {
    .checkout {
        margin: 60px 50px;
    }

    .checkout-down {
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }

    .checkout-total {
        margin: 0;
    }

    .checkout-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }

    .checkout-promobox {
        width: auto;
        max-width: 500px;
    }

    .checkout-promobox input {
        width: 100%;
    }

    .checkout-promobox button {
        width: 120px;
        margin-left: -125px;
    }
}


@media(max-width: 500px) {
    .checkout-format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }

    .checkout-format {
        display: grid;
    }
}