.cartitems {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cartitems-clearcart {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cartitems-clearcart:hover {
    background-color: #e04848;
}

.cartitems-empty {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}

.cartitems-item {
    font-size: 20px;
    margin-bottom: 20px;
}

.cartitems-main {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cartitems-product-icon {
    flex-shrink: 0;
    width: 10rem;
    height: 10rem;
    object-fit:scale-down;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cartitems-details {
    flex: 1;
}

.cartitems-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cartitems-price {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.cartitems-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.cartitems-quantity-container {
    padding: 0px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    min-width: 40px;

}

.cartitems-adjuster {
    background: none;
    border: none;

}

.cartitems-adjuster:hover {
    transform:scale(1.5);
    cursor: pointer;
}

.cartitems-quantity-display {
    font-size: 16px;
}

.cartitems-total {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.cartitems-remove-icon {
    width: 20px;
    height: auto;
    cursor: pointer;
    margin-top: 5px;
    border: 1px solid black;
}

.cartitems-remove-icon:hover {
    opacity: 0.8;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

/* Responsive Styles */

@media (max-width: 1200px) {
}


@media (max-width: 600px) {
    .cartitems-main {
        flex-direction: row;
        align-items: center;
        font-size: 16px;
    }

    .cartitems-product-icon {
        width: 10rem;
        height: 10rem;
        margin-bottom: 10px;
    }


    .cartitems-details {
        height: 100%;
        width: auto;
    }

    .cartitems-clearcart {
        width: 100%;
    }
}
