.star-rating {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.star-rating button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

.star {
    font-size: 2.5rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

.on .star {
    color: gold;
    text-shadow: 0 0 3px #000;
}

.off .star {
    color: gray;
}