.popularItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.popularItems h1 {
    color: #171717;
    font-weight: 600;
    font-size: 20px; /* Smallest screen default */
}

.popularItems hr {
    width: 100px; /* Smallest screen default */
    height: 3px; /* Smallest screen default */
    border-radius: 10px;
    background: #252525;
}

.popularItems-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 5px; /* Smallest screen default */
}

/* Responsive styles */
@media (min-width: 501px) {
    .popularItems {
        height: 100vh;
    }

    .popularItems-item {
        gap: 15px;
    }
}

@media (min-width: 801px) {
    .popularItems {
        height: 100vh;
        gap: 10px;
    }

    .popularItems h1 {
        font-size: 25px;
    }

    .popularItems hr {
        width: 120px;
        height: 3px;
    }

    .popularItems-item {
        gap: 15px;
        margin-top: 20px;
    }
}

@media (min-width: 1025px) {
    .popularItems {
        height: 100vh;
    }

    .popularItems h1 {
        font-size: 30px;
    }

    .popularItems hr {
        width: 160px;
        height: 4px;
    }

    .popularItems-item {
        gap: 20px;
        margin-top: 30px;
    }
}

@media (min-width: 1281px) {
    .popularItems {
        height: auto; /* Default for larger screens */
    }

    .popularItems h1 {
        font-size: 50px;
    }

    .popularItems hr {
        width: 200px;
        height: 6px;
    }

    .popularItems-item {
        gap: 30px;
    }
}
